<!DOCTYPE html>
<html lang="vi">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
	  
      <!-- site metas -->
	 <link rel="icon" href="../static/images/iconshop.png">
      <title>{% block title %}Trang chủ | The Goat Shop{% endblock %}</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
	  <!-- jQuery & Bootstrap JS -->
			<!-- bootstrap css -->
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
      <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
	
   <body class="main-layout">
	<!-- header section start -->
	<div class="header_section" style="background-image: url(../static/images/nen.png);">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo"><a href="#"><img src="../static/images/iconshop.png" ></a></div>
				</div>
				<div class="col-sm-9">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                           <a class="nav-item nav-link trangchu" href="/">Home</a>
                           <a class="nav-item nav-link bestsales" href="{% url 'best_sales' %}">Best sales</a>
                           <a class="nav-item nav-link sanpham" href="{% url 'productall' %}">Sản phẩm</a>
                           <a class="nav-item nav-link giohang" href="{% url 'cart' %}">Giỏ hàng</a>
                           <a class="nav-item nav-link lienhe" href="{% url 'contact' %}">Liên hệ</a>
							<a class="nav-item trangcanhan" id="auth-links"></a>
                        </div>
                    </div>
                    </nav>
				</div>
			</div>
		</div>
		{% block content %}
		<style>
			a.nav-item.nav-link.trangchu {
				color: #00ffd4;
				font-weight: bolder;
				text-decoration: underline !important;
			}
		</style>
		<div class="banner_section">
			<div class="container-fluid">
				<div class="slide-wrapper">
					<div class="container-fluid">
						<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000" data-bs-wrap="true">
							<!-- Indicators -->
							<ol class="carousel-indicators"></ol>
						
							<!-- Wrapper for slides -->
							<div class="carousel-inner" id="Carousel_list"></div>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- new collection section start -->
    <div class="layout_padding collection_section">
    	<div class="container">
    	    <h1 class="new_text"><strong>✨ Sản phẩm mới, nâng tầm trải nghiệm! ✨</strong></h1>
    	    <p class="consectetur_text">
				Với thiết kế tinh tế và chất liệu cao cấp, sản phẩm mang đến sự thoải mái và phong cách ấn tượng. Không chỉ đẹp mắt, mà còn bền bỉ, tiện dụng, đáp ứng mọi nhu cầu của bạn. Hãy đến shop và khám phá ngay!</p>
			<div class="collection_section_2">
				<div class="row" id="productList">
					<!-- Dữ liệu sẽ được thêm vào đây -->
				</div>
			</div>
    	    </div>
    	</div>

    <div class="collection_section">
    	<div class="container">
    		<h1 class="new_text"><strong>🔥 Best Sales - Giảm giá sâu 🔥</strong></h1>
    	    <p class="consectetur_text">Siêu phẩm hot nhất nay với mức giá hấp dẫn chưa từng có! Cơ hội vàng để sở hữu sản phẩm yêu thích với ưu đãi đỉnh cao. Nhanh tay trước khi hết! ⏳💥</p>
    	</div>
    </div>
    <div class="collectipn_section_3 layuot_padding">
    	<div class="container">
    		<div class="racing_shoes">
    			<div class="row" id="productone">
    				<!-- Sản phẩm chèn vào đây -->
    			</div>
    		</div>
    	</div>
    </div>
    <div class="collection_section layout_padding">
    	<div class="container">
    		<h1 class="new_text"><strong>New Arrivals Products</strong></h1>
    	    <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    	</div>
    </div>
	<!-- new collection section end -->
	<!-- New Arrivals section start -->
    <div class="layout_padding gallery_section">
    	<div class="container">
    		<div class="row"id="productall">

					<!-- mục chọn 6 sp có lượng tồn kho nhiều nhất -->
    		</div>
    		<div class="buy_now_bt">
				<a href="{% url 'productall' %}">
					<button class="buy_text">Buy Now</button>
				</a>
			</div>			
    	</div>
    </div>
   	<!-- contact section start -->
    <div class="layout_padding contact_section">
    	<div class="container">
    		<h1 class="new_text"><strong>Contact Now</strong></h1>
    	</div>
    	<div class="container-fluid ram">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="email_box">
                    <div class="input_main">
                       <div class="container">
                          <form action="/action_page.php">
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Name" name="Name">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Phone Numbar" name="Name">
                            </div>
                            <div class="form-group">
                              <input type="text" class="email-bt" placeholder="Email" name="Email">
                            </div>
                            
                            <div class="form-group">
                                <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                            </div>
                          </form>   
                       </div> 
                       <div class="send_btn">
                        <button class="main_bt">Send</button>
                       </div>                   
                    </div>
    		</div>
    			</div>
    			<div class="col-md-6">
    				<div class="shop_banner">
    					<div class="our_shop">
    						<button class="out_shop_bt">Our Shop</button>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
	{% endblock %}
   	<!-- contact section end -->
	<!-- section footer start -->
    <div class="section_footer">
    	<div class="container">
    		<div class="mail_section">
    			<div class="row">
    				<div class="col-sm-6 col-lg-2">
    					<div><a href="#"><img src="images/footer-logo.png"></a></div>
    				</div>
    				<div class="col-sm-6 col-lg-2">
    					<div class="footer-logo"><img src="images/phone-icon.png"><span class="map_text">(71) 1234567890</span></div>
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<div class="footer-logo"><img src="images/email-icon.png"><span class="map_text">Demo@gmail.com</span></div>
    				</div>
    				<div class="col-sm-6 col-lg-3">
    					<div class="social_icon">
    						<ul>
    							<li><a href="#"><img src="images/fb-icon.png"></a></li>
    							<li><a href="#"><img src="images/twitter-icon.png"></a></li>
    							<li><a href="#"><img src="images/in-icon.png"></a></li>
    							<li><a href="#"><img src="images/google-icon.png"></a></li>
    						</ul>
    					</div>
    				</div>
    				<div class="col-sm-2"></div>
    			</div>
    	    </div> 
    	    <div class="footer_section_2">
		        <div class="row">
    		        <div class="col-sm-4 col-lg-2">
    		        	<p class="dummy_text"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur  ipsum dolor sit amet,</p>
    		        </div>
    		        <div class="col-sm-4 col-lg-2">
    		        	<h2 class="shop_text">Address </h2>
    		        	<div class="image-icon"><img src="images/map-icon.png"><span class="pet_text">No 40 Baria Sreet 15/2 NewYork City, NY, United States.</span></div>
    		        </div>
    		        <div class="col-sm-4 col-md-6 col-lg-3">
    				    <h2 class="shop_text">Our Company </h2>
    				    <div class="delivery_text">
    				    	<ul>
    				    		<li>Delivery</li>
    				    		<li>Legal Notice</li>
    				    		<li>About us</li>
    				    		<li>Secure payment</li>
    				    		<li>Contact us</li>
    				    	</ul>
    				    </div>
    		        </div>
    			<div class="col-sm-6 col-lg-3">
    				<h2 class="adderess_text">Products</h2>
    				<div class="delivery_text">
    				    	<ul>
    				    		<li>Prices drop</li>
    				    		<li>New products</li>
    				    		<li>Best sales</li>
    				    		<li>Contact us</li>
    				    		<li>Sitemap</li>
    				    	</ul>
    				    </div>
    			</div>
    			<div class="col-sm-6 col-lg-2">
    				<h2 class="adderess_text">Newsletter</h2>
    				<div class="form-group">
                        <input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
                    </div>
                    <button class="subscribr_bt">Subscribe</button>
    			</div>
    			</div>
    	        </div> 
	        </div>
    	</div>
    </div>
	<!-- section footer end -->
	<div class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></div>
		 <!-- Modal xác nhận đăng xuất -->
			<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="logoutModalLabel">Xác nhận đăng xuất</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							Bạn có chắc chắn muốn đăng xuất không?
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
							<button type="button" class="btn btn-danger" onclick="confirmLogout()">Đăng xuất</button>
						</div>
					</div>
				</div>
			</div>
  <!-- Container thông báo toast -->
  <div id="notification-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>
 <script>
    var loginUrl = "{% url 'login' %}";
    var profileUrl = "{% url 'profile' %}";
    const productAllUrl = "{% url 'productall' %}";
</script>


</script>
	
      <!-- Javascript files-->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

      <!-- sidebar -->
      <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../static/js/custom.js"></script>
      <!-- javascript --> 
      <script src="../static/js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	  <script src="../static/js/auth.js"></script> 
	  <script>
	  let displayedProducts = 6; // Số sản phẩm hiển thị ban đầu
		let allProducts = []; // Lưu toàn bộ sản phẩm
async function fetchProducts() {
  try {
    const response = await fetch("/api/products/");
    const products = await response.json();

    console.log("📦 Dữ liệu sản phẩm:", products);

    if (!products || products.length === 0) {
      console.warn("⚠ Không có sản phẩm nào.");
      return;
    }

    products.sort((a, b) => b.id - a.id); // Sắp xếp ID giảm dần
    const visibleProducts = products.slice(0, 6); // Giới hạn số sản phẩm hiển thị

    const carouselList = document.getElementById("Carousel_list");
    const carouselIndicators = document.querySelector(".carousel-indicators");

    if (!carouselList || !carouselIndicators) {
      console.error("❌ Không tìm thấy phần tử Carousel_list hoặc carousel-indicators.");
      return;
    }

    carouselList.innerHTML = "";
    carouselIndicators.innerHTML = "";

    visibleProducts.forEach((product, index) => {
      console.log(`🔄 Đang thêm sản phẩm ${index + 1}: ${product.ten_san_pham}`);

      const productCard = document.createElement("div");
      productCard.classList.add("carousel-item");
      if (index === 0) productCard.classList.add("active");

      productCard.innerHTML = `
        <div class="row">
          <div class="col-sm-5">
            <div class="banner_taital">
              <h1 class="banner_text" style="font-weight: bolder;">${product.ten_san_pham}</h1>
              <h1 class="mens_text"><strong>Thương hiệu: ${product.thuong_hieu || "Thương hiệu"}</strong></h1>
              <p class="lorem_text" style="font-size: 20px;">${product.mo_ta || "Mô tả sản phẩm."}</p>
              <button class="seemore_bt" data-product-id="{{ product.id }}">Mua ngay</button>
              <button class="more_bt"><a href="${product.url || '#'}">Xem thêm</a></button>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="shoes_img">
              <img src="${product.hinh_anh || "images/default.png"}" alt="${product.ten_san_pham}" style="height: 720px;">
            </div>
          </div>
        </div>
      `;

      carouselList.appendChild(productCard);

      // Tạo indicator
      const indicator = document.createElement("li");
      indicator.setAttribute("data-bs-target", "#myCarousel");
      indicator.setAttribute("data-bs-slide-to", index.toString());
      if (index === 0) indicator.classList.add("active");
      carouselIndicators.appendChild(indicator);
    });
		
				// chọn 2 sản phấm mới nhấtnhất
				const productList = document.getElementById("productList");
				productList.innerHTML = ""; // Xóa nội dung cũ
		
				products.slice(0, 2).forEach(product => { // Lấy 2 sản phẩm tiếp theo (trừ sản phẩm mới nhất)
					const productHTML = `
						<div class="col-md-6">
							<div class="about-img" >
								<button class="new_bt">New</button>
								<div class="shoes-img">
									<img src="${product.hinh_anh || "images/default.png"}" style="width: 80%; height: 395px;">
								</div>
								<p class="sport_text">${product.ten_san_pham}</p>
								<div class="dolar_text">
									<strong style="color:rgb(92, 92, 92); text-decoration: line-through;">${product.gia || "0"}.đ</strong>
									<strong style="color:red;">-${product.giam_gia || "0"}%</strong>
									<br>=><strong style="color: #f12a47; font-size: 30px;">${product.gia_sau_giam || "0"}.đ</strong>
								</div>
							</div>
							<button class="seemore_bt" data-product-id="{{ product.id }}">Mua ngay</button>
						</div>
					`;
					productList.innerHTML += productHTML;
				});
		
				// chọn sản phẩm có giảm giá cao nhất
				let bestDiscountProduct = products.reduce((max, product) => 
					(product.giam_gia > max.giam_gia ? product : max), products[0]);
		
				// Cập nhật giao diện
				const productone = document.getElementById("productone");
				productone.innerHTML = `
					<div class="col-md-8">
						<div class="shoes-img3">
							<img src="${bestDiscountProduct.hinh_anh || 'images/default.png'}">
						</div>
					</div>
					<div class="col-md-4">
						<div class="sale_text">
							<strong>Sale <br><span style="color: #0a0506;">${bestDiscountProduct.ten_san_pham}</span> <br>SHOES</strong>
						</div>
						<div class="number_text">
							<strong><span style="color: #0a0506">${bestDiscountProduct.gia_sau_giam || "0"}.đ</span></strong>
						</div>
						<button class="seemore_bt" data-product-id="{{ product.id }}">Mua ngay</button>
					</div>
				`;
		
		
			// Sắp xếp sản phẩm theo số lượng tồn kho giảm dần và lấy 6 sản phẩm đầu tiên

const topProducts = products.sort((a, b) => b.so_luong_ton - a.so_luong_ton).slice(0, 6);

// Lấy phần tử chứa danh sách sản phẩm
const productContainer = document.getElementById("productall");
productContainer.innerHTML = ""; // Xóa nội dung cũ

// Duyệt qua các sản phẩm và tạo HTML cho mỗi sản phẩm
topProducts.forEach(product => {
    const productHTML = `
        <div class="col-sm-4">
            <div class="best_shoes">
                <p class="best_text" style="font-size: 30px; font-weight: bold; font-family: ui-monospace;">
                    ${product.ten_san_pham}
                </p>
                <div class="shoes_icon">
                    <img src="${product.hinh_anh || 'images/default.png'}" alt="${product.ten_san_pham}" style="height: 280px;">
                </div>
                <div style="text-align: center;">
                    <strong style="color: rgb(92, 92, 92); text-decoration: line-through; font-size: 25px;">
                        ${product.gia || "0"}.đ
                    </strong>
                </div>
                <div class="shoes_price">
                    Giá còn: <span style="color: #ff4e5b; font-weight: bolder;">
                        ${product.gia_sau_giam || product.gia}.đ
                    </span>
                </div>
            </div>
        </div>
    `;
    // Thêm HTML của sản phẩm vào container
    productContainer.innerHTML += productHTML;
});

		
			} catch (error) {
				console.error("❌ Lỗi khi tải sản phẩm:", error);
			}
		}
		
		// ✅ Gọi hàm khi trang tải
		document.addEventListener("DOMContentLoaded", () => {
			fetchProducts();
			fetchLatestProduct();
		});
		
			
		  // Hiển thị thông báo
		  function displayNotification(message, type = "success") {
			const container = document.getElementById("notification-container");
			if (!container) return;
		
			const notification = document.createElement("div");
			notification.className = `notification ${type}`;
			notification.style.padding = "10px 20px";
			notification.style.marginBottom = "10px";
			notification.style.borderRadius = "4px";
			notification.style.color = "#fff";
			notification.style.boxShadow = "0 0 10px rgba(0,0,0,0.1)";
			notification.style.opacity = "0";
			notification.style.transition = "opacity 0.5s ease";
		
			// Đặt màu nền theo loại thông báo
			if (type === "success") {
			  notification.style.backgroundColor = "#28a745";
			} else if (type === "error") {
			  notification.style.backgroundColor = "#dc3545";
			} else {
			  notification.style.backgroundColor = "#007bff";
			}
		
			notification.innerText = message;
			container.appendChild(notification);
		
			// Hiển thị thông báo (fade in)
			setTimeout(() => {
			  notification.style.opacity = "1";
			}, 100);
		
			// Ẩn và xóa thông báo sau 3 giây
			setTimeout(() => {
			  notification.style.opacity = "0";
			  setTimeout(() => {
				container.removeChild(notification);
			  }, 500);
			}, 3000);
		  }
		
		</script>
<script>
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".seemore_bt").forEach(button => {
        button.addEventListener("click", async function () {
            const token = localStorage.getItem("access_token");

            if (!token) {
                console.log("Người dùng chưa đăng nhập, hiển thị popup");
                showLoginPopup();
                return;
            }

            const productId = this.getAttribute("data-product-id");
            if (!productId) {
                showNotification("⚠️ Không tìm thấy ID sản phẩm!", "error");
                return;
            }

            console.log("📌 Product ID:", productId);

            try {
                const response = await fetch("/api/cart/add/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Authorization": `Bearer ${token}`
                    },
                    body: JSON.stringify({
                        san_pham_id: productId, 
                        so_luong: 1
                    })
                });

                const data = await response.json();
                console.log("📤 Response từ server:", response.status, data);

                if (response.status === 201) {
                    showNotification("✅ Sản phẩm đã được thêm vào giỏ hàng!", "success");
                } else {
                    showNotification("⚠️ Lỗi: " + (data.error || "Không thể thêm sản phẩm."), "error");
                }
            } catch (error) {
                console.error("❌ Lỗi kết nối:", error);
                showNotification("❌ Lỗi kết nối! Vui lòng thử lại.", "error");
            }
        });
    });
});

// Hàm hiển thị thông báo
function showNotification(message, type) {
    const notification = document.createElement("div");
    notification.classList.add("notification");
    notification.textContent = message;
    
    // Thêm kiểu cho thông báo tùy theo loại (success, error)
    notification.style.position = "fixed";
    notification.style.top = "10px";
    notification.style.right = "10px";  // Di chuyển thông báo sang góc phải
    notification.style.padding = "10px 20px";
    notification.style.backgroundColor = type === "success" ? "#28a745" : "#dc3545";
    notification.style.color = "white";
    notification.style.borderRadius = "5px";
    notification.style.fontSize = "14px";
    notification.style.boxShadow = "0 4px 6px rgba(0, 0, 0, 0.1)";
    notification.style.zIndex = "1001";
    notification.style.opacity = "0";
    notification.style.transition = "opacity 0.5s";

    document.body.appendChild(notification);

    // Hiển thị thông báo
    setTimeout(() => {
        notification.style.opacity = "1";
    }, 100);

    // Ẩn thông báo sau 3 giây
    setTimeout(() => {
        notification.style.opacity = "0";
        setTimeout(() => {
            notification.remove();
        }, 500);
    }, 3000);
}

// 🛑 Hiển thị popup yêu cầu đăng nhập
function showLoginPopup() {
    // Overlay nền mờ
    const overlay = document.createElement("div");
    overlay.style.position = "fixed";
    overlay.style.top = "0";
    overlay.style.left = "0";
    overlay.style.width = "100%";
    overlay.style.height = "100%";
    overlay.style.backgroundColor = "rgba(0, 0, 0, 0.4)";
    overlay.style.zIndex = "999";

    // Popup đăng nhập
    const loginPopup = document.createElement("div");
    loginPopup.classList.add("login-popup");
    loginPopup.style.position = "fixed";
    loginPopup.style.top = "50%";
    loginPopup.style.left = "50%";
    loginPopup.style.transform = "translate(-50%, -50%)";
    loginPopup.style.padding = "20px";
    loginPopup.style.background = "white";
    loginPopup.style.borderRadius = "10px";
    loginPopup.style.boxShadow = "0 5px 15px rgba(0,0,0,0.3)";
    loginPopup.style.zIndex = "1000";
    loginPopup.innerHTML = `
        <p><strong>Bạn cần đăng nhập để mua hàng.</strong></p>
        <button id="login-btn" style="margin-right: 10px;">Đăng nhập</button>
        <button id="cancel-btn">Hủy</button>
    `;

    document.body.appendChild(overlay);
    document.body.appendChild(loginPopup);

    // Nút "Đăng nhập"
    document.getElementById("login-btn").addEventListener("click", function () {
        console.log("Chuyển hướng đến trang đăng nhập");
        window.location.href = "/login/";
    });

    // Nút "Hủy"
    document.getElementById("cancel-btn").addEventListener("click", function () {
        console.log("Đóng popup");
        overlay.remove();
        loginPopup.remove();
    });
}
</script>
   </body>
</html>